#!/bin/bash

sh ~/Scripts/monitors-setup                                                 # Configuration for monitors
feh --bg-scale /usr/share/backgrounds/aether/macos-monterey-dark.jpg        # Set custom background image
setxkbmap us                                                                # Set keyboard layout to latam
picom --experimental-backends &                                             # Blur effect in clients
xinput disable "$(xinput list --name-only | grep TouchPad)"                 # Disable TouchPad
numlockx on                                                                 # Enable NumLock on startup
#plank &                                                                    # Init plank on start

export QT_SELECT=5 
export QT_QPA_PLATFORMTHEME=qt5ct
export QT_STYLE_OVERRIDE=kvantum
